<h1>Aboutme#index</h1>
<p>Find me in app/views/aboutme/index.html.erb</p>

<div class="container">
    <!--Personal data -->
    <h2>Datos Personales</>
    <section>

    </section>
    <!-- Education -->
    <h2>Educación</h2>
    <hr>
    <section>
        <% @educations.each do |education| %>
            <div class="card">
                <div class="card-body">
                    <h5><%= education.title %></h5>
                    <%= education.date %><br>
                    <%= education.university %><br>
                    <%= education.country %><br>
                </div>
            </div>
        <% end %>
    </section>
</div>